<!DOCTYPE html>
<html lang="en">
	<head>
		<meta  charset="utf-8">
		<title>Sample</title>
		<meta name="viewport" content ="width=device-width,initial-scale=1">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).on("click", "#btn-1", function() {
            var file_data = $("#inpfile").prop("files")[0]; 
            var form_data = new FormData(); // Creating 
            form_data.append("file", file_data) // Appending
            if(file_data){
                var b1 = document.getElementById('btn-1');
            b1.style.display = 'none';
            var b2 = document.getElementById('btn-2');
            b2.style.display = 'block';

            $.ajax({
                url: "/uploader", // Upload Script
                cache: false,
                contentType: false,
                processData: false,
                data: form_data, // Setting the data attribute 
                type: 'post',
                success: function(data) {

                var b1 = document.getElementById('btn-2');
                b1.style.display = 'none';
                var b2 = document.getElementById('btn-1');
                b2.style.display = 'block';
                document.getElementById('out').innerHTML = data.ans[0];

                console.log(data);

    
                }
            });
            }
            else{
                return ;
            }
            
            });
        </script>
    </head>
	<h1>Hey! You have successfully setup the flask</h1>

        <input id = "inpfile" type="file" name="file" class="input" />
        <div>
        </div>
        
        <button class="btn-1" id ="btn-1">Submit</button>
        <button class="btn-2" id ="btn-2"  style = 'display:none';>Processing</button>
        <p id = "out" ></p>
                    
  
    </html>

</html> 